/*
** General
*/
img {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*
** Draggable
*/
[draggable=true] {
    cursor: pointer;
}

[draggable=true]:active {
    cursor: move;
}

/*
** Row
*/       
.row {
    margin: 0;
    padding: 0;
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.row .column { 
    margin: 0;
    padding: 0;
    float: left;
}

/*
** Cardmaker
 */
.cardmaker-container {
    margin: 0;
    padding: 0;
}

.cardmaker-container .col-canvas {
    padding-right: 10px;
    width: 1200px; 
    height: 600px; 
    overflow: scroll;
}

.cardmaker-container .col-right {
    padding-left: 10px;
}

/*
** Layer list
 */
.layer-list {
    margin: 0;
    padding: 0;
}

.layer-list .list-item {
    margin: 0 0 5px;
    padding: 0;
    cursor: pointer;
}

.layer-list .list-item.moving {
    cursor: move;
}

.layer-list .list-item .column {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.layer-list .list-item .col-image {
    padding-right: 10px;
    max-width: 100px;
}

.layer-list .list-item .col-image img {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    vertical-align: middle;
    -webkit-user-drag: none;
            user-drag: none; 
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.layer-list .list-item .col-text {
    padding-left: 10px;
}

